<!DOCTYPE html>
<html lang="en">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProyectoML</title>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">ProyectoML</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <!-- Actividad 3 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Actividad 3</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="Caso1">Análisis predictivos</a></li>
              <li><a class="dropdown-item" href="Caso2">Segmentación de clientes</a></li>
              <li><a class="dropdown-item" href="Caso3">Detección de spam</a></li>
              <li><a class="dropdown-item" href="Caso4">Forecasting</a></li>
            </ul>
          </li>

          <!-- Actividad 4 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Actividad 4</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="Actividad4">Turismo</a></li>
            </ul>
          </li>

          <!-- Actividad 5 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Actividad 5</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="confusion_matrix">Matriz</a></li>
              <li><a class="dropdown-item" href="confusion_matrix_planpremium">Matriz Plan Premium</a></li>
              <li><a class="dropdown-item" href="ConceptosBasicos">Conceptos básicos</a></li>
            </ul>
          </li>

          <!-- Actividad 6-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Tipos de Algoritmos de Clasificación</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="mapaconceptual">Conceptos básicos</a></li>
              <li><a class="dropdown-item" href="CasoPracticoPeliculas">Caso Práctico</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</body>
</html>